body{
    background-color: black;
    margin: 0;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 20px ;
    background-color: brown;
    margin: 0;
}

.input{
    font-size: 20px;
}

button{
    font-size: 20px;
    background-color: darkcyan;
    margin-right: 150px;
    margin-left: 10px;
    cursor: pointer;
    color: aliceblue;
}
ul{
  
    margin-left: 20px;
    color:beige;
    font-size: 20px;
}
li{
    margin-top: 50px;
}
